
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Inventory Report", "Inventory", null, new { @style = "color:blue" })
<br/>
@Html.ActionLink("Sales Report", "Sales", null, new { @style = "color:blue" })

